[package]
name = "weaver_contract"
version = "0.1.0"
edition = "2024_07"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = "2.8.5"
openzeppelin = "0.15.1"

[dev-dependencies]
snforge_std = "0.34.0"
assert_macros = "2.8.2"

[[target.starknet-contract]]
sierra = true

[scripts]
test = "snforge test"


[profile.dev.cairo]
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true


[profile.default]
account = "weaver_deploy"
accounts-file = ".starknet_accounts/accounts.json"
network = "sepolia"
