@font-face {
    font-family: "Satoshi";
    src: url("https://api.fontshare.com/v2/fonts/satoshi/400.woff2")
            format("woff2"),
        url("https://api.fontshare.com/v2/fonts/satoshi/400.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://api.fontshare.com/v2/fonts/satoshi/500.woff2")
            format("woff2"),
        url("https://api.fontshare.com/v2/fonts/satoshi/500.woff")
            format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://api.fontshare.com/v2/fonts/satoshi/700.woff2")
            format("woff2"),
        url("https://api.fontshare.com/v2/fonts/satoshi/700.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
